$primary-color: #2db388;
$black-t-primary-filter: invert(57%) sepia(77%) saturate(379%) hue-rotate(110deg) brightness(89%) contrast(89%);
$background-color: #f2f4f5;
$dark-blue: #2b5b6e;
$gray-text: #737373a8;
$light-gray: #a9b5b9;
$shadow: 0px 3px 5px 3px rgba(189, 185, 189, 0.3);